<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<CoPilot>
			<add key="Copilot key" action="Open Copilot"/>
			<add key="Copilot key (Copilot not available or disabled)" action="Open or close Windows search"/>
		</CoPilot>
		<Text_Editing>
			<add key="Backspace" action="Delete characters to the left of the cursor"/>
			<add key="Ctrl + A" action="Select all text"/>
			<add key="Ctrl + B" action="Apply the bold format to the selected text"/>
			<add key="Ctrl + Backspace" action="Delete words to the left of the cursor"/>
			<add key="Ctrl + C" action="Copy the selected text"/>
			<add key="Ctrl + Insert" action="Copy the selected text"/>
			<add key="Ctrl + Del" action="Delete words to the right of the cursor"/>
			<add key="Ctrl + Down arrow" action="Move the cursor forward to the beginning of the next paragraph"/>
			<add key="Ctrl + End" action="Move the cursor forward to the end of the document"/>
			<add key="Ctrl + F" action="Find text"/>
			<add key="Ctrl + H" action="Find and replace text"/>
			<add key="Ctrl + Home" action="Move the cursor backward to the beginning of the document"/>
			<add key="Ctrl + I" action="Apply the italic format to the selected text"/>
			<add key="Ctrl + Left arrow" action="Move the cursor backward to the beginning of the previous word"/>
			<add key="Ctrl + Right arrow" action="Move the cursor forward to the beginning of the next word"/>
			<add key="Ctrl + Shift + V" action="Paste as plain text"/>
			<add key="Ctrl + U" action="Apply the underline format to the selected text"/>
			<add key="Ctrl + Up arrow" action="Move the cursor backward to the beginning of the previous paragraph"/>
			<add key="Ctrl + V" action="Paste the last item from the clipboard"/>
			<add key="Shift + Insert" action="Paste the last item from the clipboard"/>
			<add key="Ctrl + X" action="Cut the selected text"/>
			<add key="Ctrl + Y" action="Redo typing that was undone with Ctrl + Z"/>
			<add key="Ctrl + Z" action="Undo the last typing"/>
			<add key="Del" action="Delete characters to the right of the cursor"/>
			<add key="Delete" action="Delete characters to the right of the cursor"/>
			<add key="Down arrow" action="Move the cursor forward to the next line"/>
			<add key="End" action="Move the cursor forward to the end of the line"/>
			<add key="Home" action="Move the cursor backward to the beginning of the line"/>
			<add key="Left arrow" action="Move the cursor backward to the previous character"/>
			<add key="Page down" action="Move the cursor forward by one page"/>
			<add key="PgDn" action="Move the cursor forward by one page"/>
			<add key="Page up" action="Move the cursor backward by one page"/>
			<add key="PgUp" action="Move the cursor backward by one page"/>
			<add key="Right arrow" action="Move the cursor forward to the next character"/>
			<add key="Shift + Ctrl + Down arrow" action="Select paragraphs forward from the current cursor position"/>
			<add key="Shift + Ctrl + End" action="Select text between the current cursor position and the end of the document"/>
			<add key="Shift + Ctrl + Home" action="Select text between the current cursor position and the beginning of the document"/>
			<add key="Shift + Ctrl + Left" action="Select words backward from the current cursor position"/>
			<add key="Shift + Ctrl + Right" action="Select words forward from the current cursor position"/>
			<add key="Shift + Ctrl + Up" action="Select paragraphs backward from the current cursor position"/>
			<add key="Shift + Down arrow" action="Select lines forward from the current cursor position"/>
			<add key="Shift + End" action="Select text from the current cursor position to the end of the current line"/>
			<add key="Shift + Home" action="Select text from the current cursor position to the beginning of the current line"/>
			<add key="Shift + Left arrow" action="Select characters backward from the current cursor position"/>
			<add key="Shift + Page Down" action="Select one page of text forward from the current cursor position"/>
			<add key="Shift + Page Up" action="Select one page of text backward from the current cursor position"/>
			<add key="Shift + Right arrow" action="Select characters forward from the current cursor position"/>
			<add key="Shift + Up arrow" action="Select lines backward from the current cursor position"/>
			<add key="Tab" action="Indent the cursor one tab stop"/>
			<add key="Up arrow" action="Move the cursor backward to the previous line"/>
		</Text_Editing>
		<Desktop>
			<add key="Alt + A" action="Set focus to the first icon in the Suggested actions menu"/>
			<add key="Alt + Esc" action="Cycle through windows in the order in which they were opened"/>
			<add key="Alt + F4" action="Close the active window. If no windows are open, prompt to shutdown"/>
			<add key="Alt + F8" action="Show your password on the sign-in screen"/>
			<add key="Alt + Left arrow" action="Go back"/>
			<add key="Alt + Page Down" action="Move down one screen"/>
			<add key="Alt + Page Up" action="Move up one screen"/>
			<add key="Alt + PrtScn" action="Capture a screenshot of the active window and copy it to the clipboard"/>
			<add key="Alt + Right arrow" action="Go forward"/>
			<add key="Alt + Shift + arrow keys" action="When a group or tile is in focus on the Start menu, move it in the specified direction"/>
			<add key="Alt + Spacebar" action="Open the context menu for the active window"/>
			<add key="Alt + Tab" action="Switch between open windows. To cycle through multiple windows, continue to hold the Alt key and press Tab multiple times"/>
			<add key="Alt + underlined letter" action="For actions in command or context menus, some windows and apps specify keyboard shortcuts by underlining a character in the action name. Press Alt and then the letter to do that action"/>
			<add key="Ctrl + A" action="Select all items in a window"/>
			<add key="Ctrl + Alt + Del" action="Switch to the security screen where you can lock the desktop, switch user, sign out, change a password, or open Task Manager"/>
			<add key="Ctrl + Alt + Tab" action="View a thumbnail of all open apps. Use the arrow keys to switch between open apps"/>
			<add key="Ctrl + Esc" action="Open the Start menu"/>
			<add key="Ctrl + F4" action="In apps that are full-screen and let you have multiple documents open at the same time, close the active document but not the entire app"/>
			<add key="Ctrl + F5" action="Refresh the current window"/>
			<add key="Ctrl + R" action="Refresh the current window"/>
			<add key="Ctrl + Shift" action="When multiple keyboard layouts are available, switch the keyboard layout"/>
			<add key="Ctrl + Shift + arrow keys" action="When a tile is in focus on the Start menu, move it into another tile to create a folder"/>
			<add key="Ctrl + Shift + Esc" action="Open Task Manager"/>
			<add key="Ctrl + Spacebar" action="Enable or disable the Chinese input method editor (IME)"/>
			<add key="Ctrl + Y" action="Redo an action that was previously undone with Ctrl + Z"/>
			<add key="Ctrl + Z" action="Undo the previous action"/>
			<add key="Esc" action="Stop or leave the current task, or dismiss a dialog box"/>
			<add key="Escape" action="Stop or leave the current task, or dismiss a dialog box"/>
			<add key="F5" action="Refresh the active window"/>
			<add key="F6" action="Cycle through elements in a window or on the desktop"/>
			<add key="F10" action="Activate the menu bar in the active window"/>
			<add key="PrtScn" action="Select a region of the screen to capture a screenshot to the clipboard. You can then open the Snipping Tool to share or markup the image"/>
			<add key="Print Screen" action="Select a region of the screen to capture a screenshot to the clipboard. You can then open the Snipping Tool to share or markup the image"/>
		</Desktop>
		<Windows_Key>
			<add key="Windows key" action="Open or close the Start menu"/>
			<add key="Windows key + A" action="Open the Windows 11 action center"/>
			<add key="Windows key + Alt + B" action="Turn high dynamic range (HDR) on or off"/>
			<add key="Windows key + Alt + D" action="Display and hide the date and time on the desktop"/>
			<add key="Windows key + Alt + Down arrow" action="Snap the active window to the bottom half of the screen"/>
			<add key="Windows key + Alt + H" action="When voice typing is open, set the focus to the keyboard"/>
			<add key="Windows key + Alt + K" action="Mute or unmute the microphone in supported apps"/>
			<add key="Windows key + Alt + Up arrow" action="Snap the active window to the top half of the screen"/>
			<add key="Windows key + comma (,)" action="Temporarily peek at the desktop"/>
			<add key="Windows key + Ctrl + C" action="If turned on in settings, enable or disable color filters"/>
			<add key="Windows key + Ctrl + Enter" action="Open Narrator"/>
			<add key="Windows key + Ctrl + F" action="Search for devices on a network"/>
			<add key="Windows key + Ctrl + Q" action="Open Quick Assist"/>
			<add key="Windows key + Ctrl + Shift + B" action="Wake up the device when the screen is blank or black"/>
			<add key="Windows key + Ctrl + Spacebar" action="Change to a previously selected input option"/>
			<add key="Windows key + Ctrl + V" action="Open the sound output page of quick settings"/>
			<add key="Windows key + D" action="Display and hide the desktop"/>
			<add key="Windows key + Down arrow" action="Minimize the active window"/>
			<add key="Windows key + E" action="Open File Explorer"/>
			<add key="Windows key + Esc" action="Close Magnifier"/>
			<add key="Windows key + F" action="Open Feedback Hub"/>
			<add key="Windows key + forward slash (/)" action="Start input method editor (IME) reconversion"/>
			<add key="Windows key + G" action="Open the Game Bar"/>
			<add key="Windows key + H" action="Open voice dictation"/>
			<add key="Windows key + Home" action="Minimize or restore all windows except the active window"/>
			<add key="Windows key + I" action="Open Settings"/>
			<add key="Windows key + J" action="Set focus to a Windows tip when one is available"/>
			<add key="Windows key + K" action="Open Cast from Quick Settings to connect to a display"/>
			<add key="Windows key + L" action="Lock the computer"/>
			<add key="Windows key + Left arrow" action="Snap the window to the left side of the screen"/>
			<add key="Windows key + M" action="Minimize all windows"/>
			<add key="Windows key + Minus (-)" action="Zoom out in Magnifier"/>
			<add key="Windows key + N" action="Open notification center and calendar"/>
			<add key="Windows key + O" action="Lock the device orientation"/>
			<add key="Windows key + P" action="Open project settings to choose a presentation display mode"/>
			<add key="Windows key + Pause" action="Opens the Settings app to the System > About page"/>
			<add key="Windows key + Period (.)" action="Open the emoji panel"/>
			<add key="Windows key + Semicolon (;)" action="Open the emoji panel"/>
			<add key="Windows key + Plus (+)" action="Zoom in with the Magnifier"/>
			<add key="Windows key + PrtScn" action="Capture a full screen screenshot and save it to a file in the Screenshots subfolder of the Pictures folder"/>
			<add key="Windows key + Q" action="Open search"/>
			<add key="Windows key + R" action="Open the Run dialog box"/>
			<add key="Windows key + Right arrow" action="Snap the window to the right side of the screen"/>
			<add key="Windows key + S" action="Open search"/>
			<add key="Windows key + Shift + Down arrow" action="If a window is snapped or maximized, restore it"/>
			<add key="Windows key + Shift + Enter" action="If the active window is a Universal Windows Platform (UWP) app, make it full screen"/>
			<add key="Windows key + Shift + Left arrow" action="Move the active window to the monitor on the left"/>
			<add key="Windows key + Shift + M" action="Restore minimized windows"/>
			<add key="Windows key + Shift + R" action="Select a region of the screen to record a video"/>
			<add key="Windows key + Shift + Right arrow" action="Move the active window to the monitor on the right"/>
			<add key="Windows key + Shift + S" action="Select a region of the screen to capture a screenshot to the clipboard"/>
			<add key="Windows key + Shift + Spacebar" action="Switch backward through input languages and keyboard layouts"/>
			<add key="Windows key + Shift + Up arrow" action="Stretch the desktop window to the top and bottom of the screen"/>
			<add key="Windows key + Shift + V" action="Cycle through notifications"/>
			<add key="Windows key + Spacebar" action="Switch forward through input languages and keyboard layouts"/>
			<add key="Windows key + Tab" action="Open Task View"/>
			<add key="Windows key + U" action="Open the Settings app to the Accessibility section"/>
			<add key="Windows key + Up arrow" action="Maximize the active window"/>
			<add key="Windows key + V" action="Open the clipboard history"/>
			<add key="Windows key + W" action="Open Widgets"/>
			<add key="Windows key + X" action="Open the Quick Link menu"/>
			<add key="Windows key + Y" action="Switch input between Windows Mixed Reality and your desktop"/>
			<add key="Windows key + Z" action="Open the snap layouts"/>
		</Windows_Key>
		<Command_Prompt>
			<add key="Ctrl + C" action="Copy the selected text"/>
			<add key="Ctrl + Insert" action="Copy the selected text"/>
			<add key="Ctrl + V" action="Paste the selected text"/>
			<add key="Shift + Insert" action="Paste the selected text"/>
			<add key="Ctrl + M" action="Enter Mark mode"/>
			<add key="Alt + selection key" action="Begin selection in block mode"/>
			<add key="Arrow keys" action="Move the cursor in the direction specified"/>
			<add key="Page up" action="Move the cursor by one page up"/>
			<add key="Page down" action="Move the cursor by one page down"/>
			<add key="Ctrl + Home (Mark mode)" action="Move the cursor to the beginning of the buffer"/>
			<add key="Ctrl + End (Mark mode)" action="Move the cursor to the end of the buffer"/>
			<add key="Ctrl + Up arrow" action="Move up one line in the output history"/>
			<add key="Ctrl + Down arrow" action="Move down one line in the output history"/>
			<add key="Ctrl + Home (History navigation)" action="If the command line is empty, move the viewport to the top of the buffer. Otherwise, delete all the characters to the left of the cursor in the command line"/>
			<add key="Ctrl + End (History navigation)" action="If the command line is empty, move the viewport to the command line. Otherwise, delete all the characters to the right of the cursor in the command line"/>
		</Command_Prompt>
		<Dialog_Box>
			<add key="F4" action="Display the items in the active list"/>
			<add key="Ctrl + Tab" action="Move forward through tabs"/>
			<add key="Ctrl + Shift + Tab" action="Move back through tabs"/>
			<add key="Ctrl + 1, 2, 3,..." action="Move to that tab number"/>
			<add key="Tab" action="Move forward through options"/>
			<add key="Shift + Tab" action="Move back through options"/>
			<add key="Alt + underlined letter" action="Perform the command (or select the option) that is used with that letter"/>
			<add key="Spacebar" action="Select or clear the check box if the active option is a check box"/>
			<add key="Backspace" action="Open a folder one level up if a folder is selected in the Save As or Open dialog box"/>
			<add key="Arrow keys" action="Select a button if the active option is a group of option buttons"/>
		</Dialog_Box>
		<File_Explorer>
			<add key="Alt + D" action="Select the address bar"/>
			<add key="Alt + Enter" action="Display properties for the selected item"/>
			<add key="Alt + Left arrow" action="Navigate to the previous folder"/>
			<add key="Backspace" action="Navigate to the previous folder"/>
			<add key="Alt + mouse drag a file" action="When you drop the file, create a shortcut to the original file in that location"/>
			<add key="Alt + P" action="Show or hide the preview pane"/>
			<add key="Alt + Right arrow" action="View the next folder"/>
			<add key="Alt + Shift + P" action="Show or hide the details pane"/>
			<add key="Alt + Up arrow" action="Move up a level in the folder path"/>
			<add key="Ctrl + Arrow key (to move to an item) + Spacebar" action="Select multiple individual items"/>
			<add key="Ctrl + D" action="Delete the selected item and move it to the Recycle Bin"/>
			<add key="Delete" action="Delete the selected item and move it to the Recycle Bin"/>
			<add key="Ctrl + E" action="Select the search box"/>
			<add key="Ctrl + F" action="Select the search box"/>
			<add key="Ctrl + L" action="Focus on the address bar"/>
			<add key="Ctrl + mouse drag a file" action="When you drop the file, create a copy in that location"/>
			<add key="Ctrl + mouse scroll wheel" action="Change the size and appearance of file and folder icons"/>
			<add key="Ctrl + N" action="Open a new window"/>
			<add key="Ctrl + Number (1-9)" action="Move to that tab number"/>
			<add key="Ctrl + Plus (+)" action="Resize all columns to fit text"/>
			<add key="Ctrl + Shift + E" action="Expands all folders from the tree in the navigation pane"/>
			<add key="Ctrl + Shift + N" action="Create a new folder"/>
			<add key="Ctrl + Shift + Number (1-9)" action="Change the view style"/>
			<add key="Ctrl + Shift + Tab" action="Move to the previous tab"/>
			<add key="Ctrl + T" action="Open a new tab and switch to it"/>
			<add key="Ctrl + W" action="Closes the active tab. Closes the window if there's only one tab open"/>
			<add key="Ctrl + Tab" action="Move to the next tab"/>
			<add key="End" action="Scroll to the bottom of the active window"/>
			<add key="F2" action="Rename the selected item"/>
			<add key="F3" action="Search for a file or folder"/>
			<add key="F4" action="Select the address bar to change the current path"/>
			<add key="F5" action="Refresh the window"/>
			<add key="F6" action="Cycle through elements in the window"/>
			<add key="F11" action="Maximize or minimize the active window"/>
			<add key="Home" action="Scroll to the top of the active window"/>
			<add key="Left arrow" action="Collapse the current selection or select the folder that the folder was in"/>
			<add key="Right arrow" action="Display the current selection or select the first subfolder"/>
			<add key="Shift + Arrow keys" action="Select multiple items"/>
			<add key="Shift + Delete" action="Permanently delete the selected item without moving it to the Recycle Bin"/>
			<add key="Shift + F10" action="Display the context menu for the selected item"/>
			<add key="Shift + mouse drag a file" action="When you drop the file, move it to that location"/>
			<add key="Shift + mouse right-click" action="Display the Show more options context menu for the selected item"/>
			<add key="Windows key + E" action="Open File Explorer"/>
		</File_Explorer>
		<Multiple_Desktops>
			<add key="Windows key + Tab" action="Open Task view"/>
			<add key="Windows key + Ctrl + D" action="Create another desktop"/>
			<add key="Windows key + Ctrl + Right arrow" action="Switch between other desktops you've created on the right"/>
			<add key="Windows key + Ctrl + Left arrow" action="Switch between other desktops you've created on the left"/>
			<add key="Windows key + Ctrl + F4" action="Close the desktop you're using"/>
		</Multiple_Desktops>
		<Taskbar>
			<add key="Alt + Shift + Arrow" action="When an app icon is in focus, move its position in the direction of the arrow"/>
			<add key="Ctrl + select a grouped app icon on the taskbar" action="When multiple windows for the same app are grouped on the taskbar, press Ctrl as you select the taskbar icon to shift focus through the windows in the app group"/>
			<add key="Ctrl + Shift + select an app icon on the taskbar" action="Open the app as an administrator"/>
			<add key="Shift + right-click an app icon on the taskbar" action="Show the window menu for the app"/>
			<add key="Shift + right-click a grouped taskbar button" action="Show the window menu for the group"/>
			<add key="Shift + select an app icon on the taskbar" action="Open another instance of the app"/>
			<add key="Windows key + Alt + Enter (on taskbar item focus)" action="Open taskbar settings"/>
			<add key="Windows key + Alt + number (0-9)" action="Open the jump list for the app pinned to the taskbar in the position indicated by the number"/>
			<add key="Windows key + B" action="Set the focus to the first icon in the notification area of the taskbar"/>
			<add key="Windows key + Ctrl + number (0-9)" action="Switch to the last active window of the app pinned to the taskbar in the position indicated by the number"/>
			<add key="Windows key + Ctrl + Shift + number (0-9)" action="Open as an administrator a new instance of the app located at the given position on the taskbar"/>
			<add key="Windows key + number (0-9)" action="Open the app pinned to the taskbar in the position indicated by the number. If the app is already running, switch to that app"/>
			<add key="Windows key + Shift + Number (0-9)" action="Start a new instance of the app pinned to the taskbar in the position indicated by the number"/>
			<add key="Windows key + T" action="Cycle through apps in the taskbar"/>
		</Taskbar>
		<Settings>
			<add key="Arrow keys" action="Move focus through the currently selected region or scroll the page"/>
			<add key="Backspace" action="Navigate backwards"/>
			<add key="Enter" action="Select the current item in focus"/>
			<add key="Spacebar" action="Select the current item in focus"/>
			<add key="Shift + Tab" action="Cycle backward through regions"/>
			<add key="Tab" action="Cycle forward through regions"/>
			<add key="Windows key + I" action="Open the Settings app"/>
		</Settings>
	</appSettings>
</configuration>


