<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<CoPilot>
			<add key="Copilot key" action="Open Copilot" function="CopilotKey"/>
			<add key="Copilot key (Copilot not available or disabled)" action="Open or close Windows search"
				 function="CopilotKeyDisabled"/>
		</CoPilot>
		<Text_Editing>
			<add key="Backspace" action="Delete characters to the left of the cursor" function ="Backspace"/>
			<add key="Ctrl + A" action="Select all text" function ="ctrlA"/>
			<add key="Ctrl + B" action="Apply the bold format to the selected text" function ="ctrlB"/>
			<add key="Ctrl + Backspace" action="Delete words to the left of the cursor" function ="ctrlBackspace"/>
			<add key="Ctrl + C" action="Copy the selected text" function ="ctrlC"/>
			<add key="Ctrl + Insert" action="Copy the selected text" function ="ctrlInsert"/>
			<add key="Ctrl + Del" action="Delete words to the right of the cursor" function ="ctrlDel"/>
			<add key="Ctrl + Down arrow" action="Move the cursor forward to the beginning of the next paragraph" function="ctrlDown"/>
			<add key="Ctrl + End" action="Move the cursor forward to the end of the document" function ="ctrlEnd"/>
			<add key="Ctrl + F" action="Find text" function ="ctrlf"/>
			<add key="Ctrl + H" action="Find and replace text" function ="ctrlH"/>
			<add key="Ctrl + Home" action="Move the cursor backward to the beginning of the document" function ="ctrlHome"/>
			<add key="Ctrl + I" action="Apply the italic format to the selected text" function ="ctrlI"/>
			<add key="Ctrl + Left arrow" action="Move the cursor backward to the beginning of the previous word" function="ctrlLeft"/>
			<add key="Ctrl + Right arrow" action="Move the cursor forward to the beginning of the next word" function="ctrlRight"/>
			<add key="Ctrl + Shift + V" action="Paste as plain text" function =" ctrlShiftV"/>
			<add key="Ctrl + U" action="Apply the underline format to the selected text" function =" ctrlU"/>
			<add key="Ctrl + Up arrow" action="Move the cursor backward to the beginning of the previous paragraph" function =" ctrlUp"/>
			<add key="Ctrl + V" action="Paste the last item from the clipboard" function =" ctrlV"/>
			<add key="Shift + Insert" action="Paste the last item from the clipboard" function="shiftIns"/>
			<add key="Ctrl + X" action="Cut the selected text" function="ctrlX"/>
			<add key="Ctrl + Y" action="Redo typing that was undone with Ctrl + Z" function="ctrlY"/>
			<add key="Ctrl + Z" action="Undo the last typing" function="ctrlZ"/>
			<add key="Del" action="Delete characters to the right of the cursor" function="del"/>
			<add key="Delete" action="Delete characters to the right of the cursor" function ="delete"/>
			<add key="Down arrow" action="Move the cursor forward to the next line" function="down"/>
			<add key="End" action="Move the cursor forward to the end of the line" function="end"/>
			<add key="Home" action="Move the cursor backward to the beginning of the line" function="home"/>
			<add key="Left arrow" action="Move the cursor backward to the previous character" function="left"/>
			<add key="Page down" action="Move the cursor forward by one page" function ="pageDown"/>
			<add key="PgDn" action="Move the cursor forward by one page" funtion ="pgDn"/>
			<add key="Page up" action="Move the cursor backward by one page" function ="pageUp"/>
			<add key="PgUp" action="Move the cursor backward by one page" funtion="pgUp"/>
			<add key="Right arrow" action="Move the cursor forward to the next character" function="rightArrow"/>
			<add key="Shift + Ctrl + Down arrow" action="Select paragraphs forward from the current cursor position" function ="shiftCtrlDown"/>
			<add key="Shift + Ctrl + End" action="Select text between the current cursor position and the end of the document" function="shiftCtrlEnd"/>
			<add key="Shift + Ctrl + Home" action="Select text between the current cursor position and the beginning of the document" function ="shiftCtrlHome"/>
			<add key="Shift + Ctrl + Left" action="Select words backward from the current cursor position" function="shiftCtrlLeft"/>
			<add key="Shift + Ctrl + Right" action="Select words forward from the current cursor position" function="shiftCtrlRight"/>
			<add key="Shift + Ctrl + Up" action="Select paragraphs backward from the current cursor position" function="shiftCtrlUp"/>
			<add key="Shift + Down arrow" action="Select lines forward from the current cursor position" function="shiftDown"/>
			<add key="Shift + End" action="Select text from the current cursor position to the end of the current line" function="shiftEnd"/>
			<add key="Shift + Home" action="Select text from the current cursor position to the beginning of the current line" function="shiftHome"/>
			<add key="Shift + Left arrow" action="Select characters backward from the current cursor position" function="shiftLeft"/>
			<add key="Shift + Page Down" action="Select one page of text forward from the current cursor position" function="shiftPageDown"/>
			<add key="Shift + Page Up" action="Select one page of text backward from the current cursor position" function="shiftPageUp"/>
			<add key="Shift + Right arrow" action="Select characters forward from the current cursor position" function="shiftRight"/>
			<add key="Shift + Up arrow" action="Select lines backward from the current cursor position" function="shiftUp"/>
			<add key="Tab" action="Indent the cursor one tab stop" function ="tab"/>
			<add key="Up arrow" action="Move the cursor backward to the previous line" function ="up"/>
		</Text_Editing>
		<Desktop>
			<add key="Alt + A" action="Set focus to the first icon in the Suggested actions menu" function ="altA"/>
			<add key="Alt + Esc" action="Cycle through windows in the order in which they were opened" function="altEsc"/>
			<add key="Alt + F4" action="Close the active window. If no windows are open, prompt to shutdown" function="altF4"/>
			<add key="Alt + F8" action="Show your password on the sign-in screen" function ="altF8"/>
			<add key="Alt + Left arrow" action="Go back" function ="altLeft"/>
			<add key="Alt + Page Down" action="Move down one screen" function="altPageDown"/>
			<add key="Alt + Page Up" action="Move up one screen" function="altPageUp"/>
			<add key="Alt + PrtScn" action="Capture a screenshot of the active window and copy it to the clipboard" function ="altPrtScn"/>
			<add key="Alt + Right arrow" action="Go forward" function ="altRight"/>
			<!--<add key="Alt + Shift + arrow keys" action="When a group or tile is in focus on the Start menu, move it in the specified direction"
				 function ="altShiftArrowKeys"/>-->
			<add key="Alt + Shift + Left arrow" action="Move a group or tile left on the Start menu" function="altShiftLeft"/>
			<add key="Alt + Shift + Right arrow" action="Move a group or tile right on the Start menu" function="altShiftRight"/>
			<add key="Alt + Spacebar" action="Open the context menu for the active window" function ="altSpace"/>
			<add key="Alt + Tab" action="Switch between open windows. To cycle through multiple windows, continue to hold the Alt key and press Tab multiple times"
				 function ="altTab"/>
			<add key="Alt + underlined letter" action="For actions in command or context menus, some windows and apps specify keyboard shortcuts by underlining a character in the action name. Press Alt and then the letter to do that action"
				 function ="altUnderlinedLetter"/>
			<add key="Ctrl + A" action="Select all items in a window"
				 function="ctrlA"/>
			<add key="Ctrl + Alt + Del" action="Switch to the security screen where you can lock the desktop, switch user, sign out, change a password, or open Task Manager"
				 function="ctrlAltDel"/>
			<add key="Ctrl + Alt + Tab" action="View a thumbnail of all open apps. Use the arrow keys to switch between open apps" function ="ctrlAltTab"/>
			<add key="Ctrl + Esc" action="Open the Start menu" function ="ctrlEsc"/>
			<add key="Ctrl + F4" action="In apps that are full-screen and let you have multiple documents open at the same time, close the active document but not the entire app"
				 function ="ctrlF4"/>
			<add key="Ctrl + F5" action="Refresh the current window" function ="ctrlF5"/>
			<add key="Ctrl + R" action="Refresh the current window" fucntion ="ctrlR"/>
			<add key="Ctrl + Shift" action="When multiple keyboard layouts are available, switch the keyboard layout" fucntion ="ctrlShift"/>
			<!--<add key="Ctrl + Shift + arrow keys" action="When a tile is in focus on the Start menu, move it into another tile to create a folder" function ="ctrlShiftArrowKeys"/>-->
			<add key="Ctrl + Shift + Left arrow" action="Select words backward from the current cursor position" function="ctrlShiftLeft"/>
			<add key="Ctrl + Shift + Right arrow" action="Select words forward from the current cursor position" function="ctrlShiftRight"/>
			<add key="Ctrl + Shift + Esc" action="Open Task Manager" function ="ctrlShiftEsc"/>
			<add key="Ctrl + Spacebar" action="Enable or disable the Chinese input method editor (IME)" function="ctrlSpace"/>
			<add key="Ctrl + Y" action="Redo an action that was previously undone with Ctrl + Z" function ="ctrlY"/>
			<add key="Ctrl + Z" action="Undo the previous action" function ="ctrlZ"/>
			<add key="Esc" action="Stop or leave the current task, or dismiss a dialog box" function ="esc"/>
			<add key="Escape" action="Stop or leave the current task, or dismiss a dialog box" function ="Escape"/>
			<add key="F5" action="Refresh the active window" function ="F5"/>
			<add key="F6" action="Cycle through elements in a window or on the desktop" function ="F6"/>
			<add key="F10" action="Activate the menu bar in the active window" function ="F10"/>
			<add key="PrtSc" action="Select a region of the screen to capture a screenshot to the clipboard. You can then open the Snipping Tool to share or markup the image"
				 function ="PrtSc"/>
		</Desktop>
		<Windows_Key>
			<add key="Windows key" action="Open or close the Start menu" function ="windowsKey"/>
			<add key="Windows key + A" action="Open the Windows 11 action center" function ="windowsKeyA"/>
			<add key="Windows key + Alt + B" action="Turn high dynamic range (HDR) on or off" function ="windowsKeyAltB"/>
			<add key="Windows key + Alt + D" action="Display and hide the date and time on the desktop" function ="windowsKeyAltD"/>
			<add key="Windows key + Alt + Down arrow" action="Snap the active window to the bottom half of the screen" function ="windowsKeyAltDown"/>
			<add key="Windows key + Alt + H" action="When voice typing is open, set the focus to the keyboard" function ="windowsKeyAltH"/>
			<add key="Windows key + Alt + K" action="Mute or unmute the microphone in supported apps" function ="windowsKeyAltK"/>
			<add key="Windows key + Alt + Up arrow" action="Snap the active window to the top half of the screen" function ="windowsKeyAltUp"/>
			<add key="Windows key + comma (,)" action="Temporarily peek at the desktop" function ="windowsKeyComma"/>
			<add key="Windows key + Ctrl + C" action="If turned on in settings, enable or disable color filters" function ="windowsKeyCtrlC"/>
			<add key="Windows key + Ctrl + Enter" action="Open Narrator" function ="windowsKeyCtrlEnter"/>
			<add key="Windows key + Ctrl + F" action="Search for devices on a network" function ="windowsKeyCtrlF"/>
			<add key="Windows key + Ctrl + Q" action="Open Quick Assist" function ="windowsKeyCtrlQ"/>
			<add key="Windows key + Ctrl + Shift + B" action="Wake up the device when the screen is blank or black" function ="windowsKeyCtrlShiftB"/>
			<add key="Windows key + Ctrl + Spacebar" action="Change to a previously selected input option" function ="windowsKeyCtrlSpace"/>
			<add key="Windows key + Ctrl + V" action="Open the sound output page of quick settings" function ="windowsKeyCtrlV"/>
			<add key="Windows key + D" action="Display and hide the desktop" function ="windowsKeyD"/>
			<add key="Windows key + Down arrow" action="Minimize the active window" function ="windowsKeyDownArrow"/>
			<add key="Windows key + E" action="Open File Explorer" function ="windowsKeyE"/>
			<add key="Windows key + Esc" action="Close Magnifier" function ="windowsKeyEsc"/>
			<add key="Windows key + F" action="Open Feedback Hub" function ="windowsKeyF"/>
			<add key="Windows key + forward slash (/)" action="Start input method editor (IME) reconversion" function ="windowsKeyForwardSlash"/>
			<add key="Windows key + G" action="Open the Game Bar" function ="windowsKeyG"/>
			<add key="Windows key + H" action="Open voice dictation" function ="windowsKeyH"/>
			<add key="Windows key + Home" action="Minimize or restore all windows except the active window" function ="windowsKeyHome"/>
			<add key="Windows key + I" action="Open Settings" function ="windowsKeyI"/>
			<add key="Windows key + J" action="Set focus to a Windows tip when one is available" function ="windowsKeyJ"/>
			<add key="Windows key + K" action="Open Cast from Quick Settings to connect to a display" function ="windowsKeyK"/>
			<add key="Windows key + L" action="Lock the computer" function ="windowsKeyL"/>
			<add key="Windows key + Left arrow" action="Snap the window to the left side of the screen" function ="windowsKeyLeft"/>
			<add key="Windows key + M" action="Minimize all windows" function ="windowsKeyM"/>
			<add key="Windows key + Minus (-)" action="Zoom out in Magnifier" function ="windowsKeyMinus"/>
			<add key="Windows key + N" action="Open notification center and calendar" function ="windowsKeyN"/>
			<add key="Windows key + O" action="Lock the device orientation" function ="windowsKeyO"/>
			<add key="Windows key + P" action="Open project settings to choose a presentation display mode" function ="windowsKeyP"/>
			<add key="Windows key + Pause" action="Opens the Settings app to the System > About page" function ="windowsKeyPause"/>
			<add key="Windows key + Period (.)" action="Open the emoji panel" function ="windowsKeyPeriod"/>
			<add key="Windows key + Semicolon (;)" action="Open the emoji panel" function ="windowsKeySemiColon"/>
			<add key="Windows key + Plus (+)" action="Zoom in with the Magnifier" function ="windowsKeyPlus"/>
			<add key="Windows key + PrtScn" action="Capture a full screen screenshot and save it to a file in the Screenshots subfolder of the Pictures folder"
				 function ="windowsKeyPrtScn"/>
			<add key="Windows key + Q" action="Open search" function ="windowsKeyQ"/>
			<add key="Windows key + R" action="Open the Run dialog box" function ="windowsKeyR"/>
			<add key="Windows key + Right arrow" action="Snap the window to the right side of the screen" function ="windowsKeyRight"/>
			<add key="Windows key + S" action="Open search" function ="windowsKeyS"/>
			<add key="Windows key + Shift + Down arrow" action="If a window is snapped or maximized, restore it" function ="windowsKeyShiftDown"/>
			<add key="Windows key + Shift + Enter" action="If the active window is a Universal Windows Platform (UWP) app, make it full screen" function ="windowsKeyShiftEnter"/>
			<add key="Windows key + Shift + Left arrow" action="Move the active window to the monitor on the left" function ="windowsKeyShiftLeft"/>
			<add key="Windows key + Shift + M" action="Restore minimized windows" function ="windowsKeyShiftM"/>
			<add key="Windows key + Shift + R" action="Select a region of the screen to record a video" function ="windowsKeyShiftR"/>
			<add key="Windows key + Shift + Right arrow" action="Move the active window to the monitor on the right" function ="windowsKeyShiftRightArrow"/>
			<add key="Windows key + Shift + S" action="Select a region of the screen to capture a screenshot to the clipboard" function ="windowsKeyShiftS"/>
			<add key="Windows key + Shift + Spacebar" action="Switch backward through input languages and keyboard layouts" function ="windowsKeyShiftSpace"/>
			<add key="Windows key + Shift + Up arrow" action="Stretch the desktop window to the top and bottom of the screen" function ="windowsKeyShiftUp"/>
			<add key="Windows key + Shift + V" action="Cycle through notifications" function ="windowsKeyShiftV"/>
			<add key="Windows key + Spacebar" action="Switch forward through input languages and keyboard layouts" function ="windowsKeySpace"/>
			<add key="Windows key + Tab" action="Open Task View" function ="windowsKeytab"/>
			<add key="Windows key + U" action="Open the Settings app to the Accessibility section" function ="windowsKeyU"/>
			<add key="Windows key + Up arrow" action="Maximize the active window" function ="windowsKeyUp"/>
			<add key="Windows key + V" action="Open the clipboard history" function ="windowsKeyV"/>
			<add key="Windows key + W" action="Open Widgets" function ="windowsKeyW"/>
			<add key="Windows key + X" action="Open the Quick Link menu" function ="windowsKeyX"/>
			<add key="Windows key + Y" action="Switch input between Windows Mixed Reality and your desktop" function ="windowsKeyY"/>
			<add key="Windows key + Z" action="Open the snap layouts" function ="windowsKeyZ"/>
		</Windows_Key>
		<Command_Prompt>
			<add key="Ctrl + M" action="Enter Mark mode" function ="ctrlM"/>
			<add key="Alt + selection key" action="Begin selection in block mode" function="altSelectionKey"/>
			<add key="Left arrow" action="Move the cursor left" function="arrowLeft"/>
			<add key="Right arrow" action="Move the cursor right" function="arrowRight"/>
			<add key="Up arrow" action="Move the cursor up" function="arrowUp"/>
			<add key="Down arrow" action="Move the cursor down" function="arrowDown"/>
			<add key="Page up" action="Move the cursor by one page up" function="pageUp"/>
			<add key="Page down" action="Move the cursor by one page down" function ="pageDown"/>
			<add key="Ctrl + Home (Mark mode)" action="Move the cursor to the beginning of the buffer" function="ctrlHomeMarkMode"/>
			<add key="Ctrl + End (Mark mode)" action="Move the cursor to the end of the buffer" function ="ctrlEndMarkMode"/>
			<add key="Ctrl + Up arrow" action="Move up one line in the output history" function="ctrlUp"/>
			<add key="Ctrl + Down arrow" action="Move down one line in the output history" function="ctrlDown"/>
			<add key="Ctrl + Home (History navigation)" action="If the command line is empty, move the viewport to the top of the buffer. Otherwise, delete all the characters to the left of the cursor in the command line"
				 function ="ctrlHomeHistoryNav"/>
			<add key="Ctrl + End (History navigation)" action="If the command line is empty, move the viewport to the command line. Otherwise, delete all the characters to the right of the cursor in the command line"
				 function ="ctrlEndHistoryNav"/>
		</Command_Prompt>
		<Dialog_Box>
			<add key="F4" action="Display the items in the active list" function ="F4"/>
			<add key="Ctrl + Tab" action="Move forward through tabs" function="ctrlTab"/>
			<add key="Ctrl + Shift + Tab" action="Move back through tabs" function ="ctrlShiftTab"/>
			<add key="Ctrl + 1, 2, 3,..." action="Move to that tab number" function ="ctrl123"/>
			<add key="Tab" action="Move forward through options" function ="tab"/>
			<add key="Shift + Tab" action="Move back through options" function ="shiftTab"/>
			<add key="Alt + underlined letter" action="Perform the command (or select the option) that is used with that letter" function ="altUnderlinedLetter"/>
			<add key="Spacebar" action="Select or clear the check box if the active option is a check box" function ="space"/>
			<add key="Backspace" action="Open a folder one level up if a folder is selected in the Save As or Open dialog box" function="backspace"/>
			<add key="Up arrow" action="Move the cursor up" function="arrowUp"/>
			<add key="Down arrow" action="Move the cursor down" function="arrowDown"/>
			<add key="Left arrow" action="Move the cursor left" function="arrowLeft"/>
			<add key="Right arrow" action="Move the cursor right" function="arrowRight"/>
		</Dialog_Box>
		<File_Explorer>
			<add key="Alt + D" action="Select the address bar" function ="altD"/>
			<add key="Alt + Enter" action="Display properties for the selected item" function ="altEnter"/>
			<add key="Alt + Left arrow" action="Navigate to the previous folder" function ="altLeft"/>
			<add key="Backspace" action="Navigate to the previous folder" function ="backspace"/>
			<add key="Alt + mouse drag a file" action="When you drop the file, create a shortcut to the original file in that location" function ="altMouseDrag"/>
			<add key="Alt + P" action="Show or hide the preview pane" function ="altP"/>
			<add key="Alt + Right arrow" action="View the next folder" function ="altRight"/>
			<add key="Alt + Shift + P" action="Show or hide the details pane" function="altShiftP"/>
			<add key="Alt + Up arrow" action="Move up a level in the folder path" function ="altUp"/>
			<add key="Ctrl + Arrow key (to move to an item) + Spacebar" action="Select multiple individual items" function ="ctrlArrowKey"/>
			<add key="Ctrl + D" action="Delete the selected item and move it to the Recycle Bin" function ="ctrlD"/>
			<add key="Delete" action="Delete the selected item and move it to the Recycle Bin" function ="delete"/>
			<add key="Ctrl + E" action="Select the search box" function="ctrlE"/>
			<add key="Ctrl + F" action="Select the search box" function="ctrlF"/>
			<add key="Ctrl + L" action="Focus on the address bar" function="ctrlL"/>
			<add key="Ctrl + mouse drag a file" action="When you drop the file, create a copy in that location" function ="ctrlMouseDrag"/>
			<add key="Ctrl + mouse scroll wheel" action="Change the size and appearance of file and folder icons" function ="ctrlMouseScroll"/>
			<add key="Ctrl + N" action="Open a new window" function ="ctrlN"/>
			<add key="Ctrl + Number (1-9)" action="Move to that tab number" function ="ctrl1-9"/>
			<add key="Ctrl + Plus (+)" action="Resize all columns to fit text" function ="ctrlPlus"/>
			<add key="Ctrl + Shift + E" action="Expands all folders from the tree in the navigation pane" function ="ctrlShiftE"/>
			<add key="Ctrl + Shift + N" action="Create a new folder" function ="ctrlShiftN"/>
			<add key="Ctrl + Shift + Number (1-9)" action="Change the view style" function ="ctrlShift1-9"/>
			<add key="Ctrl + Shift + Tab" action="Move to the previous tab" function ="ctrlShiftTab"/>
			<add key="Ctrl + T" action="Open a new tab and switch to it" function ="ctrlT"/>
			<add key="Ctrl + W" action="Closes the active tab. Closes the window if there's only one tab open" function ="ctrlW"/>
			<add key="Ctrl + Tab" action="Move to the next tab" function ="ctrlTab"/>
			<add key="End" action="Scroll to the bottom of the active window" function ="end"/>
			<add key="F2" action="Rename the selected item" function ="F2"/>
			<add key="F3" action="Search for a file or folder" function ="F3"/>
			<add key="F4" action="Select the address bar to change the current path" function ="F4"/>
			<add key="F5" action="Refresh the window" function ="F5"/>
			<add key="F6" action="Cycle through elements in the window" function ="F6"/>
			<add key="F11" action="Maximize or minimize the active window" function ="F11"/>
			<add key="Home" action="Scroll to the top of the active window" function ="home"/>
			<add key="Left arrow" action="Collapse the current selection or select the folder that the folder was in" function ="left"/>
			<add key="Right arrow" action="Display the current selection or select the first subfolder" function ="right"/>
			<add key="Shift + Arrow keys" action="Select multiple items" function ="shiftArrowKey"/>
			<add key="Shift + Delete" action="Permanently delete the selected item without moving it to the Recycle Bin" funtion="shiftDel"/>
			<add key="Shift + F10" action="Display the context menu for the selected item" function="shiftF10"/>
			<add key="Shift + mouse drag a file" action="When you drop the file, move it to that location" function="shiftMouseDrag"/>
			<add key="Shift + mouse right-click" action="Display the Show more options context menu for the selected item" function ="shiftMouseRightClick"/>
			<add key="Windows key + E" action="Open File Explorer" function ="windowsKeyE"/>
		</File_Explorer>
		<Multiple_Desktops>
			<add key="Windows key + Tab" action="Open Task view" function ="windowsKeytab"/>
			<add key="Windows key + Ctrl + D" action="Create another desktop" function ="windowsKeyD"/>
			<add key="Windows key + Ctrl + Right arrow" action="Switch between other desktops you've created on the right" function ="windowsKeyCtrlRight"/>
			<add key="Windows key + Ctrl + Left arrow" action="Switch between other desktops you've created on the left" function ="windowsKeyCtrlLeft"/>
			<add key="Windows key + Ctrl + F4" action="Close the desktop you're using" function ="windowsKeyCtrlF4"/>
		</Multiple_Desktops>
		<Taskbar>
			<add key="Alt + Shift + Arrow" action="When an app icon is in focus, move its position in the direction of the arrow" function ="altShiftArrow"/>
			<add key="Ctrl + select a grouped app icon on the taskbar" action="When multiple windows for the same app are grouped on the taskbar, press Ctrl as you select the taskbar icon to shift focus through the windows in the app group"
				 function ="ctrlSelectGroupApp"/>
			<add key="Ctrl + Shift + select an app icon on the taskbar" action="Open the app as an administrator" function ="ctrlShiftSelectApp"/>
			<add key="Shift + right-click an app icon on the taskbar" action="Show the window menu for the app" function ="shiftRightClickApp"/>
			<add key="Shift + right-click a grouped taskbar button" action="Show the window menu for the group" function ="rightClickGroupedTaskbar"/>
			<add key="Shift + select an app icon on the taskbar" action="Open another instance of the app" function ="shiftSelectApp"/>
			<add key="Windows key + Alt + Enter (on taskbar item focus)" action="Open taskbar settings" function ="windowsKeyAltEnter"/>
			<add key="Windows key + Alt + number (0-9)" action="Open the jump list for the app pinned to the taskbar in the position indicated by the number" function =" windowsKeyAlt0-9"/>
			<add key="Windows key + B" action="Set the focus to the first icon in the notification area of the taskbar" function ="windowsKeyB"/>
			<add key="Windows key + Ctrl + number (0-9)" action="Switch to the last active window of the app pinned to the taskbar in the position indicated by the number"
				 function="windowsKeyCtrl0-9"/>
			<add key="Windows key + Ctrl + Shift + number (0-9)" action="Open as an administrator a new instance of the app located at the given position on the taskbar"
				 function="windowsKeyCtrlShift0-9"/>
			<add key="Windows key + number (0-9)" action="Open the app pinned to the taskbar in the position indicated by the number. If the app is already running, switch to that app"
				 function ="windowsKey0-9"/>
			<add key="Windows key + Shift + Number (0-9)" action="Start a new instance of the app pinned to the taskbar in the position indicated by the number"
				 function ="windowsKeyShift0-9"/>
			<add key="Windows key + T" action="Cycle through apps in the taskbar" function ="windowsKeyT"/>
		</Taskbar>
		<Settings>
			<add key="Arrow keys" action="Move focus through the currently selected region or scroll the page" function ="arrowKeys"/>
			<add key="Backspace" action="Navigate backwards" function ="backspace"/>
			<add key="Enter" action="Select the current item in focus" fucntion ="enter"/>
			<add key="Spacebar" action="Select the current item in focus" function ="space"/>
			<add key="Shift + Tab" action="Cycle backward through regions" function="shiftTab"/>
			<add key="Tab" action="Cycle forward through regions" function ="tab"/>
		</Settings>
	</appSettings>
</configuration>


